# Access Data from [Data](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page)

### Newyork Yellow Taxi Data Analysis (01/2024)

!['Photo'](taxi.jpg)

| **#** | **Column**               | **Dtype**         | **Description**                                      |
|-------|--------------------------|-------------------|------------------------------------------------------|
| 0     | `VendorID`               | `int32`           | Taxi service provider ID.                            |
| 1     | `tpep_pickup_datetime`   | `datetime64[ns]`  | Pickup date and time.                                |
| 2     | `tpep_dropoff_datetime`  | `datetime64[ns]`  | Dropoff date and time.                               |
| 3     | `passenger_count`        | `float64`         | Number of passengers.                                |
| 4     | `trip_distance`          | `float64`         | Distance of the trip.                                |
| 5     | `RatecodeID`             | `float64`         | Rate code ID.                                        |
| 6     | `store_and_fwd_flag`     | `object`          | Flag for storing trip data before sending.           |
| 7     | `PULocationID`           | `int32`           | Pickup location ID.                                  |
| 8     | `DOLocationID`           | `int32`           | Dropoff location ID.                                 |
| 9     | `payment_type`           | `int64`           | Payment method ID.                                   |
| 10    | `fare_amount`            | `float64`         | Fare amount.                                         |
| 11    | `extra`                  | `float64`         | Additional charges.                                  |
| 12    | `mta_tax`                | `float64`         | MTA tax amount.                                      |
| 13    | `tip_amount`             | `float64`         | Tip amount.                                          |
| 14    | `tolls_amount`           | `float64`         | Tolls amount.                                        |
| 15    | `improvement_surcharge`  | `float64`         | Improvement surcharge.                               |
| 16    | `total_amount`           | `float64`         | Total amount charged.                                |
| 17    | `congestion_surcharge`   | `float64`         | Congestion surcharge.                                |
| 18    | `Airport_fee`            | `float64`         | Airport fee.                                         |

### Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
%matplotlib inline

# Load the data
df = pd.read_parquet('data.parquet')

### Sample data

In [2]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB

### Data Cleaning

In [4]:
df.columns = df.columns.str.lower()

In [5]:
df.shape

(2964624, 19)

In [6]:
df.isna().mean().round(4) * 100

vendorid                 0.00
tpep_pickup_datetime     0.00
tpep_dropoff_datetime    0.00
passenger_count          4.73
trip_distance            0.00
ratecodeid               4.73
store_and_fwd_flag       4.73
pulocationid             0.00
dolocationid             0.00
payment_type             0.00
fare_amount              0.00
extra                    0.00
mta_tax                  0.00
tip_amount               0.00
tolls_amount             0.00
improvement_surcharge    0.00
total_amount             0.00
congestion_surcharge     4.73
airport_fee              4.73
dtype: float64

In [7]:
df.dropna(inplace = True)

In [8]:
df.isna().mean().round(4) * 100

vendorid                 0.0
tpep_pickup_datetime     0.0
tpep_dropoff_datetime    0.0
passenger_count          0.0
trip_distance            0.0
ratecodeid               0.0
store_and_fwd_flag       0.0
pulocationid             0.0
dolocationid             0.0
payment_type             0.0
fare_amount              0.0
extra                    0.0
mta_tax                  0.0
tip_amount               0.0
tolls_amount             0.0
improvement_surcharge    0.0
total_amount             0.0
congestion_surcharge     0.0
airport_fee              0.0
dtype: float64

In [9]:
df.describe().round(3)

,vendorid,passenger_count,trip_distance,ratecodeid,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,2824462.000,2824462.000,2824462.000,2824462.000,2824462.000,2824462.000,2824462.000,2824462.000,2824462.000,2824462.000,2824462.000,2824462.000,2824462.000,2824462.000,2824462.000,2824462.000
mean,1.759,1.339,3.254,2.069,166.222,165.488,1.219,18.084,1.517,0.483,3.425,0.535,0.975,26.851,2.256,0.141
std,0.428,0.850,12.132,9.823,63.196,69.199,0.533,19.193,1.818,0.120,3.919,2.144,0.223,23.706,0.823,0.488
min,1.000,0.000,0.000,1.000,1.000,1.000,1.000,-899.000,-7.500,-0.500,-80.000,-80.000,-1.000,-900.000,-2.500,-1.750
25%,2.000,1.000,1.000,1.000,132.000,114.000,1.000,8.600,0.000,0.500,1.000,0.000,1.000,15.300,2.500,0.000
50%,2.000,1.000,1.670,1.000,162.000,162.000,1.000,12.800,1.000,0.500,2.800,0.000,1.000,20.000,2.500,0.000
75%,2.000,1.000,3.100,1.000,234.000,234.000,1.000,19.800,2.500,0.500,4.200,0.000,1.000,28.520,2.500,0.000
max,2.000,9.000,15400.320,99.000,265.000,265.000,4.000,5000.000,14.250,4.000,428.000,115.920,1.000,5000.000,2.500,1.750

In [10]:
df['vendorid'].unique()

array([2, 1])

#### Passenger Count

In [11]:
df['passenger_count'].unique()

array([1., 2., 0., 4., 3., 5., 6., 8., 7., 9.])

In [12]:
drop_passenger = df[df['passenger_count']==0].index

In [13]:
print('The Percentage of 0 Passenger count = ',((drop_passenger.shape[0] /df.shape[0])*100),'%')

The Percentage of 0 Passenger count =  1.114017465981132 %

In [14]:
df.drop(drop_passenger, inplace = True)

#### Trip Distance

In [15]:
drop_trip_dis = df[df['trip_distance']==0].index

In [16]:
print('The Percentage of 0 Trip Distance = ',((drop_trip_dis.shape[0] /df.shape[0])*100),'%')

The Percentage of 0 Trip Distance =  1.3162563368310098 %

In [17]:
df.drop(drop_trip_dis, inplace = True)

#### False Data

In [18]:
drop_False_data = df[
    (df['fare_amount'] <= 0) |
    (df['extra'] < 0) |
    (df['mta_tax'] < 0) |
    (df['tip_amount'] < 0) |
    (df['tolls_amount'] < 0) |
    (df['improvement_surcharge'] < 0) |
    (df['total_amount'] < 0) |
    (df['congestion_surcharge'] < 0) |
    (df['airport_fee'] < 0)
].index

In [19]:
print('The Percentage of False Data = ',((drop_False_data.shape[0] /df.shape[0])*100),'%')

The Percentage of False Data =  1.176750595196199 %

In [20]:
df.drop(drop_False_data, inplace = True)

In [21]:
df.describe().round(3)

,vendorid,passenger_count,trip_distance,ratecodeid,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,2723800.000,2723800.000,2723800.000,2723800.000,2723800.000,2723800.000,2723800.000,2723800.000,2723800.000,2723800.000,2723800.000,2723800.000,2723800.000,2723800.000,2723800.000,2723800.000
mean,1.766,1.355,3.302,2.035,166.372,165.590,1.185,18.443,1.536,0.497,3.471,0.549,1.000,27.412,2.323,0.146
std,0.424,0.845,12.328,9.732,63.132,69.165,0.456,17.436,1.795,0.040,3.850,2.126,0.009,21.968,0.641,0.484
min,1.000,1.000,0.010,1.000,1.000,1.000,1.000,0.010,0.000,0.000,0.000,0.000,0.000,1.010,0.000,0.000
25%,2.000,1.000,1.010,1.000,132.000,114.000,1.000,8.600,0.000,0.500,1.000,0.000,1.000,15.480,2.500,0.000
50%,2.000,1.000,1.700,1.000,162.000,162.000,1.000,12.800,1.000,0.500,2.800,0.000,1.000,20.150,2.500,0.000
75%,2.000,1.000,3.130,1.000,234.000,234.000,1.000,19.800,2.500,0.500,4.200,0.000,1.000,28.560,2.500,0.000
max,2.000,9.000,15400.320,99.000,265.000,265.000,4.000,2221.300,14.250,4.000,422.700,115.920,1.000,2225.300,2.500,1.750

In [22]:
df['day'] = df['tpep_pickup_datetime'].dt.day
df['month'] = df['tpep_pickup_datetime'].dt.month
df['year'] = df['tpep_pickup_datetime'].dt.year

#### Year

In [23]:
df.groupby('year').size()

year
2002          1
2009          3
2023         10
2024    2723786
dtype: int64

In [24]:
drop_year = df[df['year'] != 2024].index

In [25]:
print('The Percentage of False Data in Year = ',((drop_year.shape[0] /df.shape[0])*100),'%')

The Percentage of False Data in Year =  0.0005139878111461928 %

In [26]:
df.drop(drop_year, inplace = True)

#### Month

In [27]:
df.groupby('month').size()

month
1    2723783
2          3
dtype: int64

In [28]:
drop_month = df[df['month'] != 1].index

In [29]:
print('The Percentage of False Data in Month = ',((drop_month.shape[0] /df.shape[0])*100),'%')

The Percentage of False Data in Month =  0.00011014081135595822 %

In [30]:
df.drop(drop_month, inplace = True)

In [31]:
df.drop(['month','year'],inplace = True,axis = 1)

In [32]:
df['pickup_time'] = df['tpep_pickup_datetime'].dt.time
df['dropoff_time'] = df['tpep_dropoff_datetime'].dt.time

In [33]:
df.columns

Index(['vendorid', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'ratecodeid', 'store_and_fwd_flag',
       'pulocationid', 'dolocationid', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee', 'day',
       'pickup_time', 'dropoff_time'],
      dtype='object')

In [34]:
df[['pickup_time', 'dropoff_time']].head()

  pickup_time dropoff_time
0    00:57:55     01:17:43
1    00:03:00     00:09:36
2    00:17:06     00:35:01
3    00:36:38     00:44:56
4    00:46:51     00:52:57

In [35]:
def time_to_seconds(t):
    return t.hour * 3600 + t.minute * 60 + t.second

# Apply function to convert times to seconds
df['pickup_seconds'] = df['pickup_time'].apply(time_to_seconds)
df['dropoff_seconds'] = df['dropoff_time'].apply(time_to_seconds)

# Calculate duration in seconds
df['duration_seconds'] = df['dropoff_seconds'] - df['pickup_seconds']

# Optionally convert duration to minutes
df['duration_minutes'] = df['duration_seconds'] / 60

# Drop the intermediate columns if not needed
df = df.drop(columns=['pickup_seconds', 'dropoff_seconds'])

In [36]:
df.describe().round(3)

,vendorid,passenger_count,trip_distance,ratecodeid,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,day,duration_seconds,duration_minutes
count,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000,2723783.000
mean,1.766,1.355,3.302,2.035,166.372,165.590,1.185,18.443,1.536,0.497,3.471,0.549,1.000,27.412,2.323,0.146,16.452,252.466,4.208
std,0.424,0.845,12.328,9.733,63.132,69.165,0.456,17.436,1.795,0.040,3.850,2.126,0.009,21.968,0.641,0.484,8.831,7420.755,123.679
min,1.000,1.000,0.010,1.000,1.000,1.000,1.000,0.010,0.000,0.000,0.000,0.000,0.000,1.010,0.000,0.000,1.000,-86367.000,-1439.450
25%,2.000,1.000,1.010,1.000,132.000,114.000,1.000,8.600,0.000,0.500,1.000,0.000,1.000,15.480,2.500,0.000,9.000,425.000,7.083
50%,2.000,1.000,1.700,1.000,162.000,162.000,1.000,12.800,1.000,0.500,2.800,0.000,1.000,20.150,2.500,0.000,17.000,690.000,11.500
75%,2.000,1.000,3.130,1.000,234.000,234.000,1.000,19.800,2.500,0.500,4.200,0.000,1.000,28.560,2.500,0.000,24.000,1110.000,18.500
max,2.000,9.000,15400.320,99.000,265.000,265.000,4.000,2221.300,14.250,4.000,422.700,115.920,1.000,2225.300,2.500,1.750,31.000,86139.000,1435.650

In [37]:
false_duration = df[(df['duration_minutes'] <= 0) | (df['duration_minutes'] <= 0)].index

In [38]:
df.drop(false_duration, inplace = True)

In [39]:
df.describe().round(3)

,vendorid,passenger_count,trip_distance,ratecodeid,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,day,duration_seconds,duration_minutes
count,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000,2701888.000
mean,1.765,1.354,3.271,2.041,166.501,165.672,1.185,18.329,1.534,0.497,3.456,0.543,1.000,27.274,2.325,0.144,16.450,894.119,14.902
std,0.424,0.844,12.356,9.767,63.161,69.098,0.456,17.281,1.795,0.040,3.823,2.114,0.009,21.794,0.638,0.480,8.832,772.118,12.869
min,1.000,1.000,0.010,1.000,1.000,1.000,1.000,0.010,0.000,0.000,0.000,0.000,0.000,1.010,0.000,0.000,1.000,1.000,0.017
25%,2.000,1.000,1.000,1.000,132.000,114.000,1.000,8.600,0.000,0.500,1.000,0.000,1.000,15.480,2.500,0.000,9.000,431.000,7.183
50%,2.000,1.000,1.690,1.000,162.000,162.000,1.000,12.800,1.000,0.500,2.800,0.000,1.000,20.120,2.500,0.000,17.000,695.000,11.583
75%,2.000,1.000,3.100,1.000,234.000,234.000,1.000,19.800,2.500,0.500,4.200,0.000,1.000,28.500,2.500,0.000,24.000,1115.000,18.583
max,2.000,9.000,15400.320,99.000,265.000,265.000,4.000,2221.300,14.250,4.000,422.700,115.920,1.000,2225.300,2.500,1.750,31.000,86139.000,1435.650

In [40]:
df.head(1).T

                                         0
vendorid                                 2
tpep_pickup_datetime   2024-01-01 00:57:55
tpep_dropoff_datetime  2024-01-01 01:17:43
passenger_count                        1.0
trip_distance                         1.72
ratecodeid                             1.0
store_and_fwd_flag                       N
pulocationid                           186
dolocationid                            79
payment_type                             2
fare_amount                           17.7
extra                                  1.0
mta_tax                                0.5
tip_amount                             0.0
tolls_amount                           0.0
improvement_surcharge                  1.0
total_amount                          22.7
congestion_surcharge                   2.5
airport_fee                            0.0
day                                      1
pickup_time                       00:57:55
dropoff_time                      01:17:43
duration_seconds                      1188
duration_minutes                      19.8

In [41]:
def duration(pickup_location,dropoff_locatiom):
    return df[(df['pulocationid'] == pickup_location) & (df['dolocationid'] == dropoff_locatiom)]['duration_seconds'].mean()

In [42]:
duration(186,79)

957.0787401574803

In [43]:
df.columns

Index(['vendorid', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'ratecodeid', 'store_and_fwd_flag',
       'pulocationid', 'dolocationid', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee', 'day',
       'pickup_time', 'dropoff_time', 'duration_seconds', 'duration_minutes'],
      dtype='object')

In [44]:
df['passenger_count'].value_counts(normalize = True).round(4) * 100

1.0    78.40
2.0    14.49
3.0     3.26
4.0     1.82
5.0     1.22
6.0     0.81
8.0     0.00
7.0     0.00
9.0     0.00
Name: passenger_count, dtype: float64

In [45]:
df.drop(df[(df['passenger_count'] == 7) |
   (df['passenger_count'] == 8) |
    (df['passenger_count'] == 9)].index, inplace = True)

In [46]:
df['passenger_count'].value_counts(normalize = True).round(4) * 100

1.0    78.40
2.0    14.49
3.0     3.26
4.0     1.82
5.0     1.22
6.0     0.81
Name: passenger_count, dtype: float64

In [47]:
# df['trip_distance'].describe().round(3)

In [48]:
# df.drop(df[df['trip_distance'] > df['trip_distance'].quantile(0.99)].index, inplace = True)

In [49]:
df['trip_distance'].describe().round(3)

count    2701845.000
mean           3.271
std           12.356
min            0.010
25%            1.000
50%            1.690
75%            3.100
max        15400.320
Name: trip_distance, dtype: float64

In [50]:
df['ratecodeid'].value_counts(normalize = True).round(4) * 100

1.0     94.83
2.0      3.37
99.0     1.00
5.0      0.32
3.0      0.26
4.0      0.22
6.0      0.00
Name: ratecodeid, dtype: float64

In [51]:
df = df[df['ratecodeid']==1]

In [52]:
df['ratecodeid'].value_counts(normalize = True).round(4) * 100

1.0    100.0
Name: ratecodeid, dtype: float64

In [53]:
df.drop('ratecodeid',axis = 1,inplace=True)

In [54]:
df.columns

Index(['vendorid', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'store_and_fwd_flag',
       'pulocationid', 'dolocationid', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee', 'day',
       'pickup_time', 'dropoff_time', 'duration_seconds', 'duration_minutes'],
      dtype='object')

In [55]:
df['payment_type'].value_counts(normalize = True).round(4) * 100

1    83.34
2    15.48
4     0.82
3     0.36
Name: payment_type, dtype: float64

In [56]:
df['payment_type'] = df['payment_type'].replace({3: 2, 4: 2})

In [57]:
df['payment_type'].value_counts(normalize = True).round(4) * 100

1    83.34
2    16.66
Name: payment_type, dtype: float64

In [58]:
df['fare_amount'].describe().round(3)

count    2562253.000
mean          15.721
std           11.763
min            0.700
25%            8.600
50%           12.100
75%           18.400
max         2221.300
Name: fare_amount, dtype: float64

In [59]:
# df['fare_amount'].quantile(0.99)

In [60]:
# df.drop(df[df['fare_amount'] > df['fare_amount'].quantile(0.99)].index, inplace = True)

In [61]:
df['fare_amount'].describe().round(3)

count    2562253.000
mean          15.721
std           11.763
min            0.700
25%            8.600
50%           12.100
75%           18.400
max         2221.300
Name: fare_amount, dtype: float64

In [62]:
df['total_amount'].describe().round(3)

count    2562253.000
mean          24.101
std           15.224
min            4.000
25%           15.200
50%           19.600
75%           26.520
max         2225.300
Name: total_amount, dtype: float64

In [63]:
# df['total_amount'].quantile(0.9999)

In [64]:
# df.drop(df[df['total_amount'] > df['total_amount'].quantile(0.9999)].index, inplace = True)

In [65]:
df.describe().round(3)

,vendorid,passenger_count,trip_distance,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,day,duration_seconds,duration_minutes
count,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000
mean,1.770,1.349,2.588,168.004,166.573,1.167,15.721,1.554,0.500,3.134,0.287,1.000,24.101,2.368,0.102,16.510,802.161,13.369
std,0.421,0.843,2.981,63.464,68.635,0.373,11.763,1.771,0.014,3.016,1.432,0.008,15.224,0.560,0.410,8.818,607.768,10.129
min,1.000,1.000,0.010,1.000,1.000,1.000,0.700,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,1.000,1.000,0.017
25%,2.000,1.000,1.000,137.000,121.000,1.000,8.600,0.000,0.500,1.260,0.000,1.000,15.200,2.500,0.000,9.000,421.000,7.017
50%,2.000,1.000,1.600,162.000,163.000,1.000,12.100,1.000,0.500,2.800,0.000,1.000,19.600,2.500,0.000,17.000,667.000,11.117
75%,2.000,1.000,2.770,234.000,236.000,1.000,18.400,2.500,0.500,4.050,0.000,1.000,26.520,2.500,0.000,24.000,1035.000,17.250
max,2.000,6.000,277.400,265.000,265.000,2.000,2221.300,12.500,4.000,422.700,90.000,1.000,2225.300,2.500,1.750,31.000,86139.000,1435.650

In [66]:
df['duration_seconds'].describe().round(3)

count    2562253.000
mean         802.161
std          607.768
min            1.000
25%          421.000
50%          667.000
75%         1035.000
max        86139.000
Name: duration_seconds, dtype: float64

In [67]:
# df['duration_seconds'].quantile(0.9999)

In [68]:
# df = df[df['duration_seconds'] < df['duration_seconds'].quantile(0.9999)]

In [69]:
df.shape

(2562253, 23)

In [70]:
sample = df.sample(df.shape[0]//10)

In [71]:
df['total_amount'].max()

2225.3

In [72]:
df.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,day,pickup_time,dropoff_time,duration_seconds,duration_minutes
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,N,186,79,2,17.7,...,0.0,1.0,22.70,2.5,0.0,1,00:57:55,01:17:43,1188,19.800000
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,N,140,236,1,10.0,...,0.0,1.0,18.75,2.5,0.0,1,00:03:00,00:09:36,396,6.600000
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,N,236,79,1,23.3,...,0.0,1.0,31.30,2.5,0.0,1,00:17:06,00:35:01,1075,17.916667
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,N,79,211,1,10.0,...,0.0,1.0,17.00,2.5,0.0,1,00:36:38,00:44:56,498,8.300000
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,N,211,148,1,7.9,...,0.0,1.0,16.10,2.5,0.0,1,00:46:51,00:52:57,366,6.100000

In [73]:
df.describe().round(3)

,vendorid,passenger_count,trip_distance,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,day,duration_seconds,duration_minutes
count,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000,2562253.000
mean,1.770,1.349,2.588,168.004,166.573,1.167,15.721,1.554,0.500,3.134,0.287,1.000,24.101,2.368,0.102,16.510,802.161,13.369
std,0.421,0.843,2.981,63.464,68.635,0.373,11.763,1.771,0.014,3.016,1.432,0.008,15.224,0.560,0.410,8.818,607.768,10.129
min,1.000,1.000,0.010,1.000,1.000,1.000,0.700,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,1.000,1.000,0.017
25%,2.000,1.000,1.000,137.000,121.000,1.000,8.600,0.000,0.500,1.260,0.000,1.000,15.200,2.500,0.000,9.000,421.000,7.017
50%,2.000,1.000,1.600,162.000,163.000,1.000,12.100,1.000,0.500,2.800,0.000,1.000,19.600,2.500,0.000,17.000,667.000,11.117
75%,2.000,1.000,2.770,234.000,236.000,1.000,18.400,2.500,0.500,4.050,0.000,1.000,26.520,2.500,0.000,24.000,1035.000,17.250
max,2.000,6.000,277.400,265.000,265.000,2.000,2221.300,12.500,4.000,422.700,90.000,1.000,2225.300,2.500,1.750,31.000,86139.000,1435.650

In [74]:
df['tolls_amount'].describe().round(3)

count    2562253.000
mean           0.287
std            1.432
min            0.000
25%            0.000
50%            0.000
75%            0.000
max           90.000
Name: tolls_amount, dtype: float64

In [75]:
df['tolls_amount'].quantile(0.99)

6.94

In [76]:
df.drop(df[df['tolls_amount'] > df['tolls_amount'].quantile(0.99)].index, inplace = True)

In [77]:
df['tip_amount'].describe().round(3)

count    2559834.000
mean           3.127
std            2.994
min            0.000
25%            1.260
50%            2.800
75%            4.050
max          422.700
Name: tip_amount, dtype: float64

In [78]:
df['tip_amount'].quantile(0.99)

14.08

In [79]:
df.drop(df[df['tip_amount'] > df['tip_amount'].quantile(0.99)].index, inplace = True)

In [80]:
df.describe().round(3)

,vendorid,passenger_count,trip_distance,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,day,duration_seconds,duration_minutes
count,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000
mean,1.770,1.349,2.465,168.304,166.805,1.168,15.253,1.528,0.500,2.981,0.238,1.000,23.403,2.376,0.090,16.512,786.002,13.100
std,0.421,0.843,2.674,63.579,68.536,0.374,10.699,1.734,0.013,2.521,1.259,0.008,13.557,0.543,0.387,8.817,579.047,9.651
min,1.000,1.000,0.010,1.000,1.000,1.000,0.700,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,1.000,1.000,0.017
25%,2.000,1.000,0.990,137.000,125.000,1.000,8.600,0.000,0.500,1.200,0.000,1.000,15.120,2.500,0.000,9.000,418.000,6.967
50%,2.000,1.000,1.600,162.000,163.000,1.000,12.100,1.000,0.500,2.750,0.000,1.000,19.320,2.500,0.000,17.000,661.000,11.017
75%,2.000,1.000,2.700,234.000,236.000,1.000,17.700,2.500,0.500,4.000,0.000,1.000,26.220,2.500,0.000,24.000,1020.000,17.000
max,2.000,6.000,277.400,265.000,265.000,2.000,2221.300,12.500,4.000,14.080,6.940,1.000,2225.300,2.500,1.750,31.000,86139.000,1435.650

In [81]:
df.drop('total_amount',axis = 1,inplace=True)

# Fare amount (fare_amount): The base charge for the ride.
# Additional charges (extra): Any additional charges not included in the fare.
# MTA tax (mta_tax): The Metropolitan Transportation Authority tax.
# Tip amount (tip_amount): The amount given as a tip to the driver.
# Tolls amount (tolls_amount): Any tolls incurred during the trip.
# Improvement surcharge (improvement_surcharge): A surcharge for improving the taxi service.
# Congestion surcharge (congestion_surcharge): A fee added in certain congested areas.
# Airport fee (Airport_fee): An additional fee for trips to or from the airport.

In [82]:
df['total_amount'] = df['fare_amount'] + df['extra'] + df['mta_tax'] + df['tip_amount'] + df['tolls_amount'] + df['improvement_surcharge'] + df['congestion_surcharge'] + df['airport_fee']

In [83]:
df.describe().round(3)

,vendorid,passenger_count,trip_distance,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,congestion_surcharge,airport_fee,day,duration_seconds,duration_minutes,total_amount
count,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000,2534281.000
mean,1.770,1.349,2.465,168.304,166.805,1.168,15.253,1.528,0.500,2.981,0.238,1.000,2.376,0.090,16.512,786.002,13.100,23.966
std,0.421,0.843,2.674,63.579,68.536,0.374,10.699,1.734,0.013,2.521,1.259,0.008,0.543,0.387,8.817,579.047,9.651,13.576
min,1.000,1.000,0.010,1.000,1.000,1.000,0.700,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,0.017,4.000
25%,2.000,1.000,0.990,137.000,125.000,1.000,8.600,0.000,0.500,1.200,0.000,1.000,2.500,0.000,9.000,418.000,6.967,15.800
50%,2.000,1.000,1.600,162.000,163.000,1.000,12.100,1.000,0.500,2.750,0.000,1.000,2.500,0.000,17.000,661.000,11.017,20.100
75%,2.000,1.000,2.700,234.000,236.000,1.000,17.700,2.500,0.500,4.000,0.000,1.000,2.500,0.000,24.000,1020.000,17.000,26.880
max,2.000,6.000,277.400,265.000,265.000,2.000,2221.300,12.500,4.000,14.080,6.940,1.000,2.500,1.750,31.000,86139.000,1435.650,2225.300

In [84]:
df['store_and_fwd_flag'].value_counts(normalize = True).round(4) * 100

N    99.62
Y     0.38
Name: store_and_fwd_flag, dtype: float64

In [85]:
df.drop('store_and_fwd_flag',axis = 1,inplace=True)

In [91]:
df.shape[0]

2534281

In [99]:
print('The Percentage of Data Loss = ',((1- (2534281 / 2964624)).__round__(4)*100),'%')

The Percentage of Data Loss =  14.52 %

In [100]:
df.to_csv('cleaned_data.csv',index = False)